spring:
  datasource:
    url : jdbc:h2:tcp://localhost/./object-ticketing
    username: sa
    password: 0
    driver-class-name: org.h2.Driver
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
